
 img.google-logo {
  display: block;
  margin-top: 9.5%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  
}

div {
  text-align: center;

}

button {
  border: none;
  text-align: center;
  position: relative;
  background-color: #F2F3F4;
  font-size: 15px;
  font-family: arial;
  }
ul.left-align {
  list-style-type: none;
  margin-top: 5%;
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 12px;
 
}

ul.right-align {
  list-style-type: none;
  margin-top: 5%;
  margin: 0;
  padding: 0;
  display: inline;
  float: right;
  font-size: 12px;
}

li {
  display: inline;
}


img.grid-icon {
  width: 5%;
}

